<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SCrollable Page</title>
        <style>
            div {
                background-color: green;
                font-family: 'Times New Roman', Times, serif;
                font-size: 30px;
                color: black;
                width: 500px;
                height: 100px;
                text-align: center;
                padding: 10px;
            }
        </style>
        <script>
            window.onscroll = () => {
                if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                    document.querySelector('body').style.background = 'green';
                } else {
                    document.querySelector('body').style.background = 'white';
                }
            }
        </script>
    </head>
    <body>
        <div>
            The first publication
        </div>
    </body>
</html>