<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SCrollable Page</title>
        <style>
            div {
                background-color: yellow;
                width: auto;
                height: 70px;
                text-align: center;
                padding: 10px;
            }
            
            a {
                font-family: 'Times New Roman', Times, serif;
                font-size: 30px;
                color: black;
            }
        </style>
    </head>
    <body>
        <div>
            <a href="{% url 'pages:news' %}">Новости</a>
        </div>
    </body>
</html>